*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body html{
    width: 100%;
    height: 100%;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #BC9CFF;
}
h1{
    font-size: 24px;
    margin: 10px 0 10px 0;
}
h3{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px 0;

}
.white{
    color: white;
}
.inp{
    width: 0;
    height: 0;
    opacity: 0;
    appearance: none;
    position: absolute;
}
.contaner__inp-man, .contaner__inp-woman{
    font-size: 14px;
    padding-left: 30px;
}
.contaner__inp-woman::before{
    content: "";
    display: block;
    position: absolute;
    left: 129px;
    top: 142px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #1F204140;
    border-radius: 10px;
}
.contaner__inp-man::before{
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 142px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #1F204140;
    border-radius: 10px;
}
.contaner__inp-woman::after{
    content: "";
    display: block;
    position: absolute;
    left: 133px;
    top: 146px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 10px;
}
.contaner__inp-man::after{
    content: "";
    display: block;
    position: absolute;
    left: 24px;
    top: 146px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 10px;
}

.inp:checked + .contaner__inp-woman::before{
    border: 1px solid #BC9CFF;
}
.inp:checked + .contaner__inp-man::before{
    border: 1px solid #BC9CFF;
}                             

.inp:checked + .contaner__inp-woman::after{
    background-color: #BC9CFF;
}
.inp:checked + .contaner__inp-man::after{
    background-color: #BC9CFF;
}


.contaner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .contaner__block{
        width: 300px;
        height: 525px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 0px 0px 25px 0px #00000033;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .contaner__section{
        margin: 0 0 0 0;  
        width: 280px;
    }
    .contaner__inblck{
        display: flex;
        justify-content: flex-start;
        margin: 16px 0 20px 0;
    }
    .contaner__radio-lable:first-child{
        margin: 0 10px 0 0;
    }
    .contaner__radio-lable:last-child{
        margin: 0 0 0 10px;
    }
    
    .contaner__info{
        width: 260px;
        height: 22px;
        margin: 0 0 3px 0 ;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #1F204140;
        outline: none;
    }
    input::placeholder{
        color: #1F204140;
    }
    .contaner__btn{
        width: 280px;
        height: 44px;
        margin: 15px 0 18px 0 ;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 2rem;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
        border: none;
        padding: 10px 0;
        cursor: pointer;
    }
    .contaner__section:focus + .contaner__btn{
        outline: 1px solid #BC9CFF;
        outline-offset: 3px;
    }
    .contaner__section:nth-child(2){
        height: 70px;
    }
    .contaner__section:last-child{
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px 0;
    }
    .contaner__text{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
    }
    .contaner__enter{
        width: 99px;
        height: 44px;
        background-color: transparent;
        border: 2px solid #BC9CFF;
        border-radius: 2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        position: relative;
        color: #BC9CFF;
    }
    .contaner__lable{
        margin: 10px 0 0 0;
    }

    .checkbox{
        display: inline-block;
    }
    .checkbox__inp{
        width: 0;
        height: 0;
        opacity: 0;
        appearance: none;
        position: absolute;
    }
    .checkbox__text{
        display: inline-block;
        position: relative;
        font-size: 14px;
        padding-left: 50px;
    }
    .checkbox__text::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 38px;
        height: 18px;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid #1F204140;
        transition: border 0.4s;
    }
    .checkbox__text::after{
        content: "";
        display: block;
        position: absolute;
        left: 4px;
        top: 4px;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background-color: #1F204140;
        transition: background-color 0.4s, left 0.4s;
    }
    .checkbox__inp:checked + .checkbox__text::before{
        border: 1px solid #BC9CFF;
    }
    .checkbox__inp:checked + .checkbox__text::after{
        background-color: #BC9CFF;
        left: 24px;
    }
}
.btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    .contaner__pay{
        position: absolute;
        left: 236px;
        width: 44px;
        height: 44px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
}
.box__gradient{
    width: 98px;
    height: 43px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #BC9CFF;
    position: relative;
    border-radius: 2em;
    
}
.box__gradient::before{
    content: "";
    width: 102px;
    height: 47px;
    background-image: linear-gradient(to top, #BC9CFF 0%, #8BA4F9 100%);
    position: absolute;
    z-index: -1;
    border-radius: 2em;
    left: -2%;
    top: -4%;
}
