*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body html{
    width: 100%;
    height: 100%;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #BC9CFF;
}
h1{
    width: 320px;
    height: 30px;
    font-size: 24px;
    margin: 10px 0 10px 0;
}
h3{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px 0;

}
.enter{
    margin: 40px 0 20px 0 ;
}
.contaner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .contaner__block{
        width: 380px;
        height: 358px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 0px 0px 25px 0px #00000033;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .contaner__section{
        margin: 0 0 0 0;  
        width: 342px;
    }
    .contaner__info{
        width: 320px;
        height: 44px;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #1F204140;
        outline: none;
    }
    .contaner__email{
        margin: 0 0 10px 0;
    }
    input::placeholder{
        color: #1F204140;
        font-size: 16px;
    }
    .contaner__text{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
    }
    .contaner__btn{
        width: 342px;
        height: 44px;
        font-size: 12px;
        font-weight:700;
        border-radius: 2rem;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }
    .contaner__section:last-child{
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}    
.btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 44px;
    .contaner__pay{
        position: absolute;
        left: 298px;
        width: 44px;
        height: 44px;
        padding: 3px 0 0 0;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.box__gradient{
    width: 98px;
    height: 43px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #BC9CFF;
    position: relative;
    border-radius: 2em;
    
}
.box__gradient::before{
    content: "";
    width: 102px;
    height: 47px;
    background-image: linear-gradient(to top, #BC9CFF 0%, #8BA4F9 100%);
    position: absolute;
    z-index: -1;
    border-radius: 2em;
    left: -2%;
    top: -4%;
}