*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0;
}
body html{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(244, 244, 246, 1);
}
ul, li{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
 
.contaner__logo-gray{
    margin: 30px 0 62px 30px;
}
.contaner{
    width: 100%;
    height: 70px;
    position: relative;
    left: 0;
    top: 0;
    margin: 30px auto;
    background-color: white;
}
.contaner__for-all{
    width: 100%;
    height: 70px;
    display: flex;
    // justify-content: center;
    align-items: center;
}
.avatar{
    position: absolute;
}
.contaner__avatar{
    position: relative;
    width: 40px;
    height: 40px;
}
.contaner__logo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 106px;
    height: 40px;
    margin: 0 284px 0 140px;
}
.logo{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

    

.contaner__list{
    position: relative;
    display: inline-flex;
    width: 450px;
    margin: 0 40px 0 0;
    .contaner__search{
        left: 129px;
        position: absolute;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .contaner__search:last-child{
        left: 450px;
    }
}
.contaner__item{
    width: 447px;
}
.item{
    display: block;
    font-size: 14px;
    font-weight: 400px;
    color: #1F204180;
}
.item:first-child{
    font-weight: 700;
    color: #1F2041BF;
}

.contaner__buttons{
    width: 87px+196px+20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px 0 0;
}
.contaner__enter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
    width: 87px;
    height: 34px;
    background-color: transparent;
    border: 2px solid #BC9CFF;
    border-radius: 2rem;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #BC9CFF;
}
.contaner__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 34px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: none;
}

.contaner__footer{
    width: 100%;
    height: 372px;
    background-color: #FFF;
    margin: 200px 0 0 0;
    position: relative;
    display: flex;
    // align-items: center;
    // justify-content: space-around;
}
   
.box{
    display: inline-block;
}
.contaner__menu{
    width: 100%;
    height: 168px;
    margin: 100px 140px;
    display: flex;
    .contaner__text{
        width: 260px;
        height: 132px;
    }
    .contaner__hotel{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin: 20px 0 0 0;
        color: #1F2041BF;
    }
    .contaner__nav{
        width: 143px;
        height: 168px;
        display: flex;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #1F204180;
        margin: 4px 57px 0 40px;
    }

    .bold{
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
    }
    .list, .item{
        display: block;
        gap: 10px;
        width: 143px;
    }
    .item{
        margin-top: 22px;
    }
    .item:first-child{
        margin-top: 0;
    }
    .contaner__text:last-child{
        width: 260px;
        height: 84px;
        margin: 4px 0 0 0;
    }
    .text__up{
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        color: #1F2041BF;
    }
    .text__text{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #1F2041BF;
        margin: 21px 0 0 0;
    }
    .box:nth-child(3){
        width: 108px;
        margin: 4px 92px 0 0px;
    }
    .box:nth-child(4){
        width: 149px;
        margin: 4px 51px 0 0px;


    }
    .contaner__email{
        margin: 20px 0 0px 0;
        position: relative;
        display: inline-flex;
        align-items: center;
        .contaner__search{
            position: absolute;
            left: 214px;
            width: 46px;
            height: 46px;
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
    .contaner__info{
        width: 240px;
        height: 34px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 24px;
        border-radius: 5px;
        border: 1px solid #1F204140;
        outline: none;
    }
    input::placeholder{
        color: #1F204140;
        font-size: 16px;
    }
}    
.contaner__footer-footer{
    width: 100%;
    height: 70px;
    background-color: #FFF;
    border-top: 1px solid rgba(31, 32, 65, 0.05);
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .contaner__defend{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(31, 32, 65, 0.75);
        width: 372px;
        height: 18px;
        margin: 0 0 0 140px;
    }
    .link{
        width: 24px;
        height: 24px;
    }
    .contaner__links{
        width: 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 140px 0 0;
    }
}