*{
    padding: 0;
    margin: 0;
}
body html{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 24px;
    margin: 10px 0 10px 0;
}
h3{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px 0;

}
.white{
    color: white;
}

.contaner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .contaner__block{
        width: 300px;
        height: 500px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 0px 0px 25px 0px #00000033;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .contaner__section{
        margin: 0 0 0 0;  
    }
    .contaner__inblck{
        display: flex;
        justify-content: flex-start;
        margin: 25px 0 0 0;
    }
    .contaner__radio-lable:first-child{
        margin: 0 10px 0 0;
    }
    .contaner__radio-lable:last-child{
        margin: 0 0 0 10px;
    }
    
    .contaner__info{
        width: 260px;
        height: 22px;
        margin: 0 0 3px 0 ;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #1F204140;
        outline: none;
    }
    input::placeholder{
        color: #1F204140;
    }
    .contaner__btn{
        width: 280px;
        height: 44px;
        margin: 0 0 3px 0 ;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 2rem;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
        border: none;
        padding: 10px 0;
    }
    .contaner__section:nth-child(2){
        height: 70px;
    }
}

