hr{
    width: 230px;
    border: 1px solid rgba(31, 32, 65, 0.1);
    margin: 10px 0 8px 0;
}

.slide {
    width: 270px;
}
.expand{
    font-family: Material Icons, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
.contaner__flex{
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 100px auto;
}
.swiper__contaner{
    width: 270px;
    height: 257.5px;
    position: relative;
    margin: 0 100px;
    background-color: white;
    overflow: hidden;
    .swiper__wrapper{
        width: 1080px;
        height: 152px;
        display: flex;
        position: relative;
        left: 0;
        transition: all ease 500ms;
    }
    .swiper__button{
        width: 44px;
        height: 151px;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .swiper__prev{
        position: absolute;
        top: 0px;
        left: 0;
    }
    .swiper__prev:hover{
        box-shadow:inset linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

    }
    .swiper__next{
        position: absolute;
        top: 0px;
        left: 226px;
    }
    .swiper__next{
        box-shadow: inset linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        ;
    }
    .swiper__radio{
        width: 47px;
        height: 7.49px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 128.89px;
        left: 213.75px;
    }
    .slide__dot, .slide__dot-two{
        width: 7.5px;
        height: 7.49px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 50%;
    }
    .active__dot, .active__dot-two{
        background-color: rgb(255, 255, 255);
    }
}
.swiper__text{
    width: 234px;
    height: 67px;
    margin: 19px 16px 19px 20px;
    position: relative;
    display: inline-block;

    .swiper__inline{
        width: 234px;
        // height: 33.5px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        // border: 2px solid red;
    }
    .num{
        font-family: Quicksand, sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
    }
    .num__lux{
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(188, 156, 255, 1);
    }
    .sum{
        font-size: 12px;
        color: rgba(31, 32, 65, 0.5);
        font-size: 14px;
        line-height: 18px;
    }
    .swiper__inline-under{
        width: 234px;
        // height: 33.5px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        color: rgba(31, 32, 65, 0.5);
    }
    .comment{
        font-size: 14px;
        line-height: 18px;
    }
}
.rating{
    width: 120px;
    height: 24px;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    // position: relative;
    .rating__item{
        font-size: 24px;
        color: rgba(188, 156, 255, 1);
        transition: 0.2s;
        position: relative;
        user-select: none;
    }
}

.rating__item:hover::before,
.rating__item:hover ~ .rating__item::before {
    content: attr(data-star);
    font-size: 24px;
    color: rgba(188, 156, 255, 1);
    // opacity: 0;
    position: absolute;
}
.rating[data-total-star="1"] .rating__item:nth-child(n + 5)::before,
.rating[data-total-star="2"] .rating__item:nth-child(n + 4)::before,
.rating[data-total-star="3"] .rating__item:nth-child(n + 3)::before,
.rating[data-total-star="4"] .rating__item:nth-child(n + 2)::before,
.rating[data-total-star="5"] .rating__item:nth-child(n + 1)::before {
    content: attr(data-star);
    position: absolute;
}